.email {
  color: #fc4c00;
}

.main-div {
  background: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  padding: 3%;
}

.div-confirm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  background-color: #fff;
  background-repeat: no-repeat;
  color: #10375c;
  padding: 50px;
  border-radius: 30px;
}

.p-confirm {
  font-weight: bold;
  font-size: 30px;
  color: #fc4c00;
}