.main-side-bar-dark {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 20%;
  background-color: #292E37;
  border-right: 1px solid #313944;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  z-index: 1001;
}

.main-side-bar-light {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 20%;
  background-color: #fff;
  border-right: 1px solid #c6c6c6;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  z-index: 1001;
}

.active {
  background-color: #fc4c00;
  color: aliceblue !important;
}

.statistic,
.products,
.banners,
.categories,
.customers,
.discounts,
.orders,
.users {
  border-radius: 10px;
  margin-bottom: 2px;
  padding: 15px;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.statistic-l,
.products-l,
.banners-l,
.categories-l,
.customers-l,
.discounts-l,
.orders-l,
.users-l {
  border-radius: 10px;
  margin-bottom: 2px;
  padding: 15px;
  color: #313944;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.statistic-collap,
.products-collap,
.banners-collap,
.categories-collap,
.customers-collap,
.discounts-collap,
.orders-collap,
.users-collap {
  border-radius: 10px;
  margin-bottom: 2px;
  padding: 15px;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.statistic-l-collap,
.products-l-collap,
.banners-l-collap,
.categories-l-collap,
.customers-l-collap,
.discounts-l-collap,
.orders-l-collap,
.users-l-collap {
  border-radius: 10px;
  margin-bottom: 2px;
  padding: 15px;
  color: #313944;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.statistic:hover,
.products:hover,
.banners:hover,
.categories:hover,
.customers:hover,
.discounts:hover,
.orders:hover,
.users:hover,
.home:hover {
  background: #fc4c00;
  color: aliceblue;
}

.statistic-l:hover,
.products-l:hover,
.banners-l:hover,
.categories-l:hover,
.customers-l:hover,
.discounts-l:hover,
.orders-l:hover,
.users-l:hover,
.home-l:hover {
  background: #fc4c00;
  color: aliceblue;
}

.statistic-collap:hover,
.products-collap:hover,
.banners-collap:hover,
.categories-collap:hover,
.customers-collap:hover,
.discounts-collap:hover,
.orders-collap:hover,
.users-collap:hover,
.home-collap:hover {
  background: #fc4c00;
  color: aliceblue;
}

.statistic-l-collap:hover,
.products-l-collap:hover,
.banners-l-collap:hover,
.categories-l-collap:hover,
.customers-l-collap:hover,
.discounts-l-collap:hover,
.orders-l-collap:hover,
.users-l-collap:hover,
.home-l-collap:hover {
  background: #fc4c00;
  color: aliceblue;
}

.home-collap {
  border: 2px solid #fc4c00;
  color: #fc4c00;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin-top: 45px;
  border-radius: 10px;
}

.home {
  border: 2px solid #fc4c00;
  color: #fc4c00;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-top: 45px;
  border-radius: 10px;
}

.collapsed {
  width: 5%;
}

.tag-pop-up {
  transition: opacity 0.3s ease-in-out;
  visibility: hidden;
  border: #fc4c00 2px solid;
}

.statistic-collap:hover .tag-pop-up,
.products-collap:hover .tag-pop-up,
.banners-collap:hover .tag-pop-up,
.categories-collap:hover .tag-pop-up,
.customers-collap:hover .tag-pop-up,
.discounts-collap:hover .tag-pop-up,
.orders-collap:hover .tag-pop-up,
.users-collap:hover .tag-pop-up,
.home-collap:hover .tag-pop-up {
  opacity: 1;
  visibility: visible;
}

.statistic-l-collap:hover .tag-pop-up,
.products-l-collap:hover .tag-pop-up,
.banners-l-collap:hover .tag-pop-up,
.categories-l-collap:hover .tag-pop-up,
.customers-l-collap:hover .tag-pop-up,
.discounts-l-collap:hover .tag-pop-up,
.orders-l-collap:hover .tag-pop-up,
.users-l-collap:hover .tag-pop-up,
.home-l-collap:hover .tag-pop-up {
  opacity: 1;
  visibility: visible;
  background-color: #fff;
  color: #313944;
}