.tag-pop-up {
  opacity: 0;
  position: absolute;
  border-radius: 5px;
  background-color: #313944;
  color: #fff;
  width: 200px;
  height: 40px;
  translate: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}