.main-nav {
  padding: 10px;
  width: 80vw !important;
  border-bottom: 1px solid #292E37;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  background-color: #292E37;
  box-shadow: 0 0 10px;
}

.main-nav-light {
  padding: 10px;
  width: 80vw !important;
  border-bottom: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  box-shadow: 0 0 10px;
}

.main-nav-collapsed {
  padding: 10px;
  width: 94vw !important;
  border-bottom: 1px solid #292E37;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
}

.main-nav-collapsed-light {
  padding: 10px;
  width: 94vw !important;
  border-bottom: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 20px;
  border: none;
}

.avatar:hover {
  cursor: pointer;
}

.popup {
  height: 150px;
  width: 150px;
  position: absolute;
  border-radius: 5px;
  background-color: #292E37;
  border: none;
  top: 60px;
  right: 30px;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
  opacity: 1;
  visibility: visible;
  border: #3A4155 1px solid;
}

.popup-hidden {
  opacity: 0;
  visibility: hidden;
}

.setting {
  padding: 10px;
  background-color: #202531;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #fc4c00;
  background: #323A49;
}

.profile,
.logout {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #ffffff;
}

.profile:hover,
.logout:hover {
  background-color: #fc4c00;
  border-radius: 5px;
}

.turn-left {
  rotate: 180deg;
}

.menuButton:hover,
.menuButton-light:hover {
  cursor: pointer;
  background-color: #202531;
  color: #e7eaee;
}

.menuButton {
  padding: 10px;
  border-radius: 2px;
  color: #e7eaee;
}

.menuButton-light {
  padding: 10px;
  border-radius: 2px;
  color: #000;
}