.products {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px;
    background: #fff;
    margin: 3% auto;
    max-width: 1172px;
}

.categories {
    font-size: 14px !important;
}

.categoryItem {
    color: #000;
    transition: all 0.3s linear;
}

.categoryItem:hover {
    color: #fc4c00 !important;
}

.productCard {
    text-align: center;
    background: #fff;
    border: 1px solid #fff;
    padding-top: 10px;
    position: relative;
    transition: all 0.2s linear;
}

.productCard:hover {
    border: 1px solid #ddd;
}

.discountBadge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #FFD2CC;
    color: #C73E1D;
    padding: 5px;
    z-index: 1;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

/* Badge sản phẩm nổi bật */
.featuredBadge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #E4F8FA;
    color: #005A7F;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 1000;
    font-weight: bold;
    z-index: 2;
}

.productImage {
    max-width: 200px;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
    object-fit: cover;
}

.productName {
    font-size: 16px;
    margin-bottom: 5px;
}

.rating {
    color: #ffa500;
    font-size: 14px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.ratingCount {
    font-size: 13px;
    color: #666;
}

.priceContainer {
    margin-bottom: 10px;
}

.oldPrice {
    text-decoration: line-through;
    color: #aaa;
    margin-right: 5px;
    font-size: 12px;
}

.newPrice {
    color: #f44;
    font-weight: bold;
    font-size: 14px;
}

.img-popup {
    position: absolute;
    background-color: #fff;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 5px 0 0 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.productCard:hover .img-popup {
    opacity: 1;
    visibility: visible;
}

.link-popup {
    text-decoration: none;
    color: #fc4c00;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-popup {
    text-decoration: none;
    color: #fc4c00;
    background: transparent;
    border: none;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-popup:hover,
.link-popup:hover {
    background-color: #fc4c00;
    color: #fff;
    width: max-content;
}

.pagination-button {
    background-color: #ffffff;
    border: 1px solid #fc4c00;
    color: #fc4c00;
    padding: 4px 12px;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination-button:hover {
    background-color: #fc4c00;
    color: #ffffff;
}

.pagination-button.active {
    background-color: #fc4c00;
    color: #ffffff;
}

.pagination-button:disabled {
    background-color: #f0f0f0;
    color: #b3b3b3;
    border-color: #b3b3b3;
    cursor: not-allowed;
}